@media all and (max-width: 797px) {
    
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
    }
    
    
    /* HERO */
    
    .hero {
        height: auto;
    }
        
    .hero-img {
        width: 100%;
        margin-top: 15vh;
        display: flex;
        height: 100%;
    }
    .hero-gateway {
        position: relative;
        margin-top: -100px;
        margin-left: -50px;
    }
    .hero-cart {
        width:100%;
        margin-top: 0px;
    }
    
    
/* GATEWAY PERKS */

    .perk-list{
    display:flex;
    align-content: flex-start;
    flex-direction: column;
}

    .perk{
        margin-bottom:48px;
    }
    .with-lines{
    border-right:0;
    border-left:0;
    padding-left:0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
}
    
/* GATEWAY PERKS */

    
    
/* LE */

    .software-module {
    padding-top: 10vh;
}
    
    .le-p .wrapper{
        display:flex;
        flex-direction: column;
    }
    
    .le-info {
    color: var(--turq);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
    .le-p {
    padding-top:48px;
    padding-bottom:48px;
    background-color: #144576;
    margin-bottom: 50px;
    align-content: center;
    height: auto;
    display: flex;}
        
    .le-p-img, .fm-p-img {
    margin-top: 0px;
    width: 100%;
    height: auto;
    background-image: none;
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
}
    
/* FM */

    .fm-p {
    padding-top:48px;
    padding-bottom:48px;
    position: relative;
    z-index: 5;
    background-color: #71cef5;
    margin-bottom: 50px;
    height: auto;
    display: flex;
    align-content: center;}
        

    /* Pricing */

 .pricing-table {
    width:90%;

    background-color: white;
    padding-bottom: 32px;
    padding-top: 16px;
    padding-left: 32px;
}   
    
    .pricing-terms{
        
        display:flex;
        flex-direction: column;
    }
    
/* Features */
    
    
.feature-list {
    width:80vw;
    justify-content:space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature {
    align-self: center;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    margin-bottom:50px;
}    
.line-v {
     display:none;
    }
    
/* PERKS */
  
    .perks {
        margin-left:20px;}
    
.perk_s {
    display: flex;
    flex-direction: column;
    min-height: 280px;
    padding-top: 50px;
    box-sizing: border-box;
}    