:root {
    --green: #62bb46;
    --navy: #144576;
    --blue: #3b9cfb;
    --lightblue: #71cef5;
    --dark: #3c3b3a;
    --medium: #818181;
    --light: #e2e2e2;
    --verylight: #f7f7f7;
    --turq: #21bdb7;
}



body {
    margin: 0 auto;
    font-family: 'chronica_prolight', sans-serif;
    overflow-x: hidden;
    background-color: #ededee;
}


li {
    color: white;
}

ul {
    max-width:100%;
    padding: 0;
}

a.button {
    font-family: 'chronica_promedium', sans-serif;
    font-size: 10pt;
    display: inline-block;
    position: relative;
    padding: 16px 20px;
    text-transform: uppercase;
    color: #fff;
    background: var(--green);
    transition: all ease .3s;
    text-decoration: none;
    border-radius: 4px;
}

a.button-hollow {
    font-size: 10pt;
    display: inline-block;
    position: relative;
    padding: 16px 20px;
    text-transform: uppercase;
    color: #fff;
    transition: all ease .3s;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid;
    border-color:white;
    align-self:start;
}

.wrapper {
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 25%);
    margin: 0 auto;
    align-items: center;
    max-width: 1370px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--light);
}

.line-v {
    width: 1px;
    min-height: 100%;
    background-color: var(--light);
    margin-left: 48px;
    margin-right: 48px;
}


/* HERO */

.hero {
    background-color: #ededee;
    width: 100%;
    height: 80vh;
}

.hero-img {
    margin-top: 30vh;
    grid-column: 2 / 6;
    height: 50%;
}

.hero-gateway {
    position: absolute;
    margin-top: -100px;
    margin-left: -50px;
}

.hero-gateway>img {
    width: 100%;
    z-index: 0;
}

.hero-labels {
    text-transform: uppercase;
    position: absolute;
}

.label {
    font-family: 'chronica_promedium', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--lightblue);
}

.le {
    background-color: var(--navy);
}

.hero-cart {
    z-index: 2;
    grid-column: 8/12;
    margin-top: 15vh;
    box-sizing: border-box;
}


/* ADD TO CART */

.add-to-cart {
    padding: 32px 32px 0px 32px;
    margin-top: 48px;
    background-color: white;
    border: 1px solid;
    border-color: var(--light);
    max-width 40%;

}

input[type=text] {
    max-width:100%;
    height: 32px;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--light);
    padding: 12px 0px 12px 0px;
    font-size: 20pt;
    line-height: 20pt;
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.10);
}

.cart-options {
    display: flex;
    margin-bottom: 16px;
}

.cart-form {
    width: 40%;
    margin-right:28px;
}

label {
    font-family: 'chronica_promedium', sans-serif;
    display: block;
    text-transform: uppercase;
    color: var(--medium);
    font-size: 8pt;
    font-weight: 600;
    margin-bottom: 12px;
}

input::placeholder {
    font-size: 20pt;
    line-height: 20pt;
    font-weight: 100;
    text-align: center;
    color: var(--navy);
}

.cart-price {
    font-size: 32pt;
    font-weight: 200;
}

.subscriptions {
    max-width: 50%;
}

.checkbox-name {
    margin-bottom: 4px;
    color: var(--navy);
    text-transform: none;
    font-size: 12pt;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
}

.cart-summary>.button {
    background-color: var(--turq);
    align-self: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.hero-cart>h6 {
    margin-top: 30px;
}

.add-to-cart>.line {
    margin-bottom: 16px;
    margin-top: 16px;
}

.sub-element {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;
}

.sub-element>h5 {
    text-transform: none;
    font-size: 9pt;
    color: var(--medium);
}


/* GATEWAY INTRO */

.gateway-intro {
    width: 100vw;
    height: 80vh;
}

.gateway-intro>.wrapper>h3 {
    max-width: 600px;
    text-align: center;
}

.gateway-intro .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper>.line {
    margin-bottom: 100px;
}

.scene {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    height: 0px;
}

.intro-img {
    margin-top: 100px;
    min-width: 300px;
}

.intro-gateway {
    position: absolute;
}

.intro-total {
    position: absolute;
    margin-left: -3.5%;
    margin-top: 00px;
}

.intro-now {
    position: absolute;
    margin-left: -10%;
    margin-top: 140px;
}

.intro-zones {
    position: absolute;
    margin-left: 200px;
}

.bg-chart {
    padding-top:50px;
    position: absolute;
}

.chart-group {
    position: relative;
    z-index: 0;
    height: 537px;
}

@keyframes rev {
    0% {
        margin-left: 0%
    }
    100% {
        margin-left: 100%
    }
    ;
}

.reveal {
    background-color: #ededee;
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
}

.reveal.start {
    animation-name: rev;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay:.5s;
}


/* GATEWAY PERKS */

.gateway-perks {
    height: auto;
}

.perk-list{
    display:flex;
    align-content: flex-start;
    flex-wrap:nowrap; 
}


.gateway-perks>.wrapper {
    display: flex;
    align-content: flex-start;

}

.with-lines{
    border-right:1px solid;
    border-left:1px solid;
    border-color: var(--light);
    padding-left:48px;
    padding-right:24px;
    margin-right:48px;
    margin-left:24px;
}
.perk img {
    width: auto;
    margin-bottom: 18px;
}

p.small {
    font-size: 12pt;
    line-height: 18pt;
}


/* LE */

.le-info.button {
    background-color: red;
}

.software-module {
    padding-top: 200px;
    background-repeat: no-repeat;
    min-height: 60vh;
}

.le-p li {
    width:100%;
    list-style: none;
    padding-left: 1em;
    text-indent: -.7em;
    margin-top: 12px;
    font-size: 18px;
}

.le-p li::before {
    content: "• ";
    color: var(--turq);
}

.le-p-img {
    margin-top: -50px;
    width: 100%;
    height: 800px;
    background-image: url(img/img-le.png);
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
}

.le-p {
    background: linear-gradient(to right, #144576 60%, rgba(255, 0, 0, 0) 60%);
    margin-bottom: 50px;
    align-content: center;
    height: 600px;
    display: flex;
}

.le-p .wrapper {
            width:100%;

    align-self: center;
}

.le-info {
    grid-column: 1/5;
    color: var(--turq);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.le-info .button-hollow {
    margin-top:40px;

}

.le-info p {
    color: white;
    margin-top:24px;
}

.pr-tb-le {
    grid-column: 6/10;
}


/* FM */

.fm-p-img {
    margin-top:-150px;
    width: 100%;
    height: 700px;
    background-position: top left;
    background-image: url(img/img-fm.png);
    z-index: 2;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.fm-p {
    position: relative;
    z-index: 5;
    background: linear-gradient(to left, #71cef5 60%, rgba(255, 0, 0, 0) 60%);
    margin-bottom: 50px;
    height: 600px;
    display: flex;
    align-content: center;
}

.fm-p .wrapper {
    align-self: center;
}

.pr-tb-fm {
    grid-column: 3/7;
}

.fm-info {
    grid-column: 8/12;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fm-info p {
    color: var(--navy);
        margin-top:24px;

}

.fm-info>.button-hollow {
    margin-top:40px;
}

.fm-p li {
    color:var(--navy);
    list-style: none;
    padding-left: 1em;
    text-indent: -.7em;
    margin-top: 12px;
    font-size: 18px;
}

.fm-p li::before {
    content: "• ";
    color: white;
}
.fm-info .button {
    background-color:var(--navy);
}

/* Pricing */

.pricing-table {
    background-color: white;
    padding-bottom: 32px;
    padding-top: 16px;
    padding-left: 32px;
}

.pricing-table .button {
    background-color: var(--turq);
}

.tab {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.tablinks.selected {
    background-color: #dce3eb;
    border-radius: 50px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.selected:after {
    margin-top: 25px;
    margin-left: -20%;
    content: '';
    position: absolute;
    border-top: 8px solid #dce3eb;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tablinks {
    text-transform: uppercase;
    align-self: center;
    height: 80px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    margin-right: 16px;
}

.pricing-terms {
    display: flex;
    min-height: 100px;
    align-content: center;
    padding: 16px 16px 16px 0px;
    
}

.pricing-terms p {
    font-size: 12pt;
    align-self: center;
    min-width:45%
        
}

.pricing-terms h2 {
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
    align-self: center;

}

.period {
    height: auto;
    width: 45%;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 16px;
}

.price {
    width: 55%;
    display: flex;
    height: auto;
}


/* Features */

.features-module h4 {
    margin-top: 80px;
    margin-bottom: 120px;
}

.features-module .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
}

.feature-list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature {
    align-self: center;
    display: flex;
    width: 7vw;
    flex-direction: column;
}

.feature h5 {
    margin-top: 40px;
    text-align: center;
    align-self: center;
    order: 2;
}

.feature img {
    width: auto;
    align-self: center;
    order: 1;
}


/* Spacer */

.spacer {
    background: linear-gradient(to bottom, #ededee 50%, rgba(255, 0, 0, 0) 50%);
}

.spacer-small {
    position: absolute;
    margin-top: 10vh;
}


/* PERKS */

.perks {
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1370px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.perk_s {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 280px;
    padding-top: 50px;
    box-sizing: border-box;
    flex-basis: 25%;
}

.perk_s img {
    margin-bottom: 24px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
}

.perk_s h3,
p {   
    margin-right: 60px;
    margin-top: 10px;
}

.line-s {
    margin-bottom: 10px;
    width: 40px;
    height: 1px;
    background-color: var(--turq);
    bottom: 0;
    left: 0;
}


/* FAQ */

.faq>.wrapper {
    background-color: white;
    height: 500px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    color: var(--dark);
    width: 100%;
    padding-top: 50px;
}

.questions {
    width: 100%;
}

.faq li {
    color: var(--dark);
    text-decoration: none;
    list-style: none;
    text-align: left;
    border-bottom: 1px solid;
    border-color: var(--light);
    padding-top: 16px;
    padding-bottom: 16px;
}

.faq {
    background: linear-gradient(to bottom, #ededee 50%, #818181 50%);
    padding-bottom:100px;

}
    
}