@import {
    url(https://fonts.googleapis.com/css?family=Open+Sans)
}

:root {
    --green: #62bb46;
    --navy: #144576;
    --blue: #3b9cfb;
    --lightblue: #71cef5;
    --dark: #3c3b3a;
    --medium: #818181;
    --light: #e2e2e2;
    --verylight: #f7f7f7;
    --turq: #21bdb7;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    background-color: #ededee;

}

li{
    color:white;
}
a.button {
    font-size:10pt;
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fff;
    background: var(--green);
    transition: all ease .3s;
    text-decoration: none;
    border-radius: 4px;
}




.wrapper {
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 25%);
    margin: 0 auto;
    align-items: center;
    max-width: 1370px;
}

.line {
    width:100%;
    height:1px;
    background-color: var(--light);
}

.line-v {
    width:1px;
    min-height:100%;
    background-color: var(--light);
    margin-left:48px;
    margin-right:48px;
}

/* HERO */

.hero {
    background-color: #ededee;
    width: 100%;
    height: 80vh;
}

.hero-img {
    margin-top: 30vh;
    grid-column: 2 / 6;
    height: 50%;
}

.hero-gateway {
    position: absolute;
    margin-top: -100px;
    margin-left: -50px;
}

.hero-labels {
    text-transform: uppercase;
    position: absolute;
}

.label {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 12px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--lightblue);
}

.le {
    background-color: var(--navy);
}

.hero-cart {
    grid-column: 8/12;
    margin-top: 20vh;
}

.add-to-cart {
    padding:48px 48px 0px 48px;
    margin-top: 48px;
    background-color: white;
    min-height: 200px;
    border: 1px solid;
    border-color: var(--light);
}

/* GATEWAY INTRO */

.gateway-intro{
    width:100vw;
}

.gateway-intro .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper .line{
    margin-bottom:100px;
}

#scene {
    display:flex;
    flex-direction: column;
    position:static;
    height:600px;
}
.intro-img{
    margin-top:100px;
    min-width:300px;}

.intro-gateway {
    position:absolute;
}

.intro-total {
    position:absolute;
    margin-left:-5%;
    margin-top:100px;
}

.intro-zones{

    position:absolute;
    margin-left:200px;
}

.bg-chart {

    margin-left:-45%;
    position:absolute;
}

/* GATEWAY PERKS */

.gateway-perks{
    display:flex;
    max-width:100%;
    
}

.perk img {
    width:40px
}

/* LE */

.m-le{
    background-image:url(img/img-le.png);
    background-position: top right;
}


.software-module{
    padding-top:200px;
    background-size:contain;
    background-repeat: no-repeat;
    min-height:60vh;
    
}
.le-p{
    background: linear-gradient(to right, #144576 60%, rgba(255,0,0,0) 60%);
    margin-bottom:50px;
    align-content: center;
    height:600px;
    display: flex;

}
.le-p .wrapper {
    align-self: center;
}

.le-info{
    grid-column:1/5;
    color:var(--turq);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.le-info .button{
    background-color:var(--turq);
    align-self: flex-start;
}
.le-info p{
    color:white;

}
.pricing-table{
    background-color: white;
    padding-bottom:16px;
}

.pr-tb-lm{
        grid-column:6/10;

}

/* FM */

.fm-p{
    background: linear-gradient(to left, #71cef5 60%, rgba(255,0,0,0) 60%);
    margin-bottom:50px;
    height:600px;
    display: flex;
    align-content: center;
}

.fm-p .wrapper {
    align-self: center;
}

.pr-tb-fm{
     grid-column:3/7;
}

.fm-info{
    grid-column:8/12;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.fm-info li, .fm-info p {
    color:var(--navy);
}

.fm-info .button{
    align-self: flex-start;
}
/* Pricing */

.tablinks{
    text-transform: uppercase;
    align-self: center;
    height:60px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
}
.pricing-terms{
    display:flex;
    min-height:140px;
    align-content:center;
    padding: 16px 16px 16px 16px;
}

.pricing-terms p{
    font-size:12pt;
        align-self: center;

}

.pricing-terms h2{
    font-size:60px;
    font-weight: 100;
    line-height: 60px;
    align-self: center;
}

.period{
    height:auto;
    width:49%;
    display:flex;
    align-content:center;
    justify-content: center;
    line-height:16px;
}


.price{
    width:49%;
    display:flex;
    height:auto;

}

/* Features */

.features-module h2{
    margin-top:80px;
    margin-bottom:80px;
}
.features-module .wrapper{
    display:flex;
    flex-direction: column;
    margin-bottom:160px;
}
.feature-list{
    justify-content: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feature{
    display:flex;
    width:10vw;
    flex-direction: column;
    justify-content: center;
}

.feature h5{
    margin-top:40px;
    text-align: center;
    align-self:center;
    order: 2;
}
.feature img{
    width:50px;
    align-self: center;
    order: 1;
}

/* Spacer */

.spacer {
    background: linear-gradient(to bottom, #ededee 50%, rgba(255,0,0,0) 50%);
}


.spacer-small {
    position:absolute;
    margin-top:10vh;
}

/* PERKS */

.perks{
    padding-top:100px;
    margin:0 auto;
    max-width:1370px;
    flex-wrap: wrap;
    display:flex;
    flex-direction: row;} 
        
        
 .perk_s{
     
    display:flex; 
    flex-direction: column; 
    min-width:300px; 
    min-height:280px;
    padding-top:50px;
    box-sizing: border-box;
    flex-basis: 25%;
    
} 
 .perk_s  p {
   font-size:12pt;
 }
        
.perk_s img{
    display:flex;
    align-self:flex-start;
    justify-content: center;
    }        
        
 .perk_s h3, p {
    margin-right:60px;
    margin-top:10px;
 }
        

.line-s{
    margin-bottom:10px;
    width:40px;
    height:1px;
    background-color: var(--turq);
    bottom: 0;
    left: 0;    
    }    