/*TYPO*/

@import {
    url(https://fonts.googleapis.com/css?family=Open+Sans)
}


h1 { font-family: 'chronica_prolight', sans-serif;
    font-weight:100;
    font-size:40pt;
    line-height:42pt;
    margin:0 0 12px 0}  
      
h2 {font-family: 'chronica_prolight', sans-serif;
    font-weight:100;
    font-size:32pt;
    line-height:30pt;
    margin:0 0 18px 0}    
        
h3 {font-family: 'chronica_prolight', sans-serif;
    font-weight:100;
    font-size:18pt;
    line-height:24pt;
    margin:0;
    color:#818181;}          


h4 {font-family: 'chronica_pro_regularregular', sans-serif;
    font-size:16pt;
    margin:0;
    font-weight: 400;
    margin:0 0 18px 0}


h5 {font-family: 'chronica_promedium', sans-serif;
    font-size:10pt;
    margin:0;
    font-weight: 600;
    text-transform: uppercase;}
;
h6 {font-family: 'chronica_promedium', sans-serif
    font-size:9pt;
    margin:0;
    font-weight: 600;}        
      
p{
    font-weight:200;
    font-size:18pt;
    color: var(--medium);}    